@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add Your Custom CSS Here */
.highlight-link {
  color: blue;
  text-decoration: underline;
}
.prose img {
  border-radius: 30px;
}

#sun {
  transform: translate3d(0, 0px, 0);
}

#moon {
  transform: translate3d(0, 0px, 0);
}

#darkToggle:hover #sun {
  transform: translate3d(0, 10px, 0);
}

#darkToggle:hover #moon {
  transform: translate3d(0, 10px, 0);
}

html.dark #darkToggle:hover .horizon {
  border-color: #718096 !important;
}

.horizon .setting {
  animation: 1s ease 0s 1 setting;
}

.horizon .rising {
  animation: 1s ease 0s 1 rising;
}

@keyframes setting {
  0% {
    transform: translate3d(0, 10px, 0)
  }

  40% {
    transform: translate3d(0, -2px, 0)
  }

  to {
    transform: translate3d(0, 30px, 0)
  }
}

@keyframes rising {
  0% {
    opacity: 0;
    transform: translate3d(0, 30px, 0)
  }

  40% {
    opacity: 1;
    transform: translate3d(0, -2px, 0)
  }

  to {
    opacity: 1;
    transform: translate3d(0, 10, 0)
  }
}
.event-list {
  list-style-type: none; /* Remove default bullet points */
  padding: 0;
  margin: 0;
}

.event-item {
  margin: 10px 0;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 8px;
  border-left: 4px solid #0073e6; /* Colored left border */
}

.event-date {
  font-weight: bold;
  color: #0073e6;
}

.event-description {
  margin-top: 5px;
}
h1 {
  margin-top: 50px; /* Increase the top margin for extra space */
  font-size: 2em; /* Optional: Change font size */
}
.publication-list {
  list-style-type: none; /* Remove default bullet points */
  padding: 0;
  margin: 0;
}

.publication-item {
  display: flex;
  margin: 10px 0;
  padding: 10px 0;
  border-bottom: 1px solid #ddd; /* Optional divider line */
}

.publication-status {
  flex: 0 0 150px; /* Fixed width for the left column */
  font-weight: bold;
  color: #009688; /* Color for the status or conference */
  padding-right: 20px;
}

.publication-details {
  flex: 1; /* Right column takes remaining space */
}

.publication-title {
  font-size: 1.1em;
  font-weight: bold;
}

.publication-authors {
  margin-top: 5px;
  color: #555;
}